* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #FFA909!important;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

.wrapper ul {
    display: flex;
    list-style: none;
    margin-top: 2%;
}

.wrapper ul li {
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper ul li:hover {
    background: #FFA909!important;
}

a img {
    width: 100%;
}

.nav2 {
    background-color: #FFA909!important;
    padding: 20px 20px;
}

ul li {
    display: inline-block;
    background-color: #41da0e!important;
    padding: 12px 16px;
}

ul li a {
    color: white;
}

ul li:hover a {
    color: rgb(0, 0, 0);
}

.you:hover a {
    color: red;
}

.twi:hover a {
    color: rgb(76, 110, 245);
}

.fb:hover a {
    color: rgb(25, 119, 243);
}

.ins:hover a {
    color: #8a3ab9!important;
}

.contact-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.card {
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-icon {
    font-size: 28px;
    background: #FFA909!important;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}